html, body {
	height: 100%;
    width: 100%;
	background: #f4f3ef;
	background-image: radial-gradient(#faebca 10%, transparent 11%), radial-gradient(#faebca 10%, transparent 11%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
	position: fixed;
}