@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

body {
  height: 100vh;
  width: 100vw;
  background: #f4f3ef;
  background-image: radial-gradient(#faebca 10%, transparent 11%), radial-gradient(#faebca 10%, transparent 11%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
}

form {
  position: absolute;
  width: 450px;
  height: 60px;
  left: 50%;
  top: 35%;
  padding: 5px;
  transform: translate(-50%, 50%);
  border-radius: 50px;
  border: 4px solid #fff;
  box-sizing: border-box;
  background: #fff;
  transition: 0.04s;
  z-index: 9;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 52px;
  line-height: 75px;
  outline: 0;
  display: block;
  font-size: 16px;
  border-radius: 25px;
  padding: 0 20px;
  z-index: 9;
}

i.fa {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  transition: 1.5s;
  color: #394a64;
  padding: 15px;
}

.container-1 {
  width: 100%;
  height: 100%;
}

.container-1 p {
  font-size: 100px;
  color: #394a64;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.autocom-box{
  float:left;
  overflow-y: auto;
  overflow-x: hidden;
  display: absolute;
  /*padding-top: 65px; */
  width: 320px;
  transform: translate(-2%, -4%);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: block;
  background-color: #fff;
  opacity: 0;
  transition-duration: 0.3s;
}

.searchInput.active .autocom-box{
  padding-top: 65px;
  opacity: 1;
  pointer-events: auto;
  width: 450px;
}

.searchInput.active .autocom-box li{
  display: block;
  width: 450px;
  font-size: 10px;
  text-align: left;
  font-family: "arial", sans-serif;
  font-size: 17px;
  padding: 10px;
  padding-left: 26px;
}

.searchInput autocom-box li{
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  display: none;
  list-style: none;
  width: 450px;
  color: blue;
  font-size: 17px;
}

.autocom-box li:hover{
  background-color: #f4f3ef;
  border-radius: 2px;
}

.searchInput::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  background: yellow;
  border-radius: 5px;
  -webkit-animation: searchIndicator 0.5s infinite ease-in-out;
          animation: searchIndicator 0.5s infinite ease-in-out;
}

@-webkit-keyframes searchIndicator {
  0% {
    width: 15%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

@keyframes searchIndicator {
  0% {
    width: 15%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}
@media only screen and (max-width: 650px) {
  .container-1 p {
    font-size: 60px;
    color: #394a64;
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  form {
    position: absolute;
    width: 280px;
    height: 60px;
    left: 50%;
    top: 40%;
    padding: 5px;
    transform: translate(-50%, 50%);
    border-radius: 50px;
    border: 4px solid #fff;
    box-sizing: border-box;
    background: #fff;
    transition: 0.03s;
  }

  /*
  .btn{
    position: absolute;
    width: 57px;
    height: 57px;
    left: 50%;
    top: 40.4%;
    transform: translate(-50%, 50%);
    border-radius: 50px;
    padding: 5px;
    box-sizing: border-box;
    opacity: 50%;
  }
  form:hover {
    width: 280px;
    cursor: pointer;
    transition: 1.5s;
  }

  form input:hover {
    display: block;
    transition: 1.5s;
  } */
}
/*# sourceMappingURL=index.css.map *//*# sourceMappingURL=index.css.map */
